.divZaInput {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 3px;
}

.formaZaDodavanjeLokala {
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    width: 30%;
}

.headerDodavanjaLokala, .headerZaOdabirLokala {
    text-align: center;
}

.labelaZaInput1 {
    width: 30%;
}

.labelaZaInput2 {
    width: 15%;
}

.dodajLokal {
    margin-left: 250px;
    width: 20%;
    padding: 3px;
}

.divZaCBOdabiraLokala {
    display: flex;
    flex-direction: column;
}

.formaZaOdabirLokala {
    border: 3px solid black;
    margin: 15px;
}

.leviDiv {
    margin: 3px;
    margin-left: 20px;
}

.velikiDiv {
    display: flex;
    flex-direction: row;
}

.divZaPrikazPodatakaOLokalu {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.divZaNarudzbine {
    border: 1px solid black;
    margin: 4px;
}

.formaZaDodavanje {
    display: flex;
    flex-direction: row;
}

.formaZaDodavanjeRadnika {
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    width: 30%;
}